body{
    background-color: rgb(1, 0, 18);
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    margin-left: 20px;
}

h1{
    text-align: center;
}


button{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 10px;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.652);
}



#sidebar {
    width: 200px;
    height: 100vh;
    background: rgb(7, 0, 133);
    color: white;
    position: fixed;
    left: -200px;
    top: 0;
    transition: 0.3s;
    padding-top: 6vh;
    font-size: 1.5em;
}

#sidebar a {
    display: block;
    padding-left: 12px;
    text-decoration: none;
    color: white;
    margin-top : 10px
}

.sub {
    font-size: 0.6em;
}

#sidebar a.main{
    margin-top: 35px;
}


#sidebar a:first-child{
    margin-top: 0px;
    margin-bottom: 50px;
}

#open_sidebar {
    color: black;
    position: absolute;
    font-size: 0.8em;
    top: 4vh;
    left: 11px;
}

p {
    margin-top: 20px;
}
h2 {
    margin-top: 50px;
}
h3{
    margin-top: 30px;
    text-decoration: underline;
}
code {
    background-color: rgb(8, 1, 71);
    display: block;
    padding: 3px;
}

.normal {
    text-align: left;
    text-decoration: none;
    margin: none;
    padding: none;
}